///*------------------------------------*\
//    #HEADINGS
//\*------------------------------------*/

h1, 
h2, 
h3 {
  margin-top: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}