///*------------------------------------*\
//    #PAGE
//\*------------------------------------*/

html {
	font-family:             $font-family;
	font-weight:             $font-weight--regular;
	color:                   $color-black-base;
	box-sizing:              border-box;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: $color-gray-background;
  
  &.accessibility--color-contrast {
    background-color: white;
  }
}
