///*------------------------------------*\
//    #LINKS
//\*------------------------------------*/

a {
  text-decoration: none;
  color:           $color-blue-base;
  cursor:          pointer;

  &:hover, &:focus {
    color: $color-blue-dark;
  }

  .accessibility--color-contrast & {
    color: $color-blue-base--accessible;

    &:hover, &:focus {
      color: $color-blue-dark--accessible;
    }
  }
}