///*------------------------------------*\
//    #RAT-PR
//\*------------------------------------*/

.rat-report__overview-container {
  border:           $border--default;
  margin-bottom:    4px;
  cursor:           pointer;
  background-color: white;

  &:hover, &:focus {
    border-color: $color-blue-base;
  }
}

// Question container

.rat-report__question-container {
  width: 33.333%;
  @media only screen and (max-width: 800px) {
    background-color: $color-gray-med;
    width: 100%;
  }
}

.rat-report__overview-number {
  width:          25px;
  height:         100%;
  float:          left;
  flex-grow:      0;
  padding-top:    8px;
  line-height:    1.15rem;
  vertical-align: middle;
  text-align:     center;
  font-weight:    $font-weight--bold;
  color:          $color-gray-base;
  font-size:      .75rem;

  .rat-report__overview-container:hover & {
    background-color: $color-blue-base;
    color: white;
  }
}

.rat-report__question-content {
  overflow:         hidden;
  padding:          8px;
  line-height:      1.15em;
  height: 100%;
  border-right: $border--default;

  @media only screen and (max-width: 800px) {
    border-right: none;
  }



}

// Bar + Top section
.rat-report__graph-picks-container {
  width: 66.666%;
  @media only screen and (max-width: 800px) {
    width: 100%;
    border-top: $border--default;
  }

  @media only screen and (max-width: 40rem) {
    border-top: none;
  }
}

// Bar graph section

.rat-report__graph-container {
  height: 100%;
  width: 50%;
  display: inline-block;

  @media only screen and (max-width: 40rem) {
    width:      100%;
    height:     70px;
    border-top: $border--default;
    display:    block;
  }
}

.rat-report__bar-graph {
  padding:  0 8px;
  height:   100%;
  width:    calc(100% - 66px);
  overflow: hidden;
  float:    left;
}

.rat-report__overview-avg {
  width:       66px;
  height:      100%;
  float:       right;
  border-left: $border--default;
  text-align:  center;
  padding-top: 10px;

  // .rat-report__overview-container:hover & {
  //   border-left-color: $color-blue-base;
  // }
}

.rat-report__overview-avg-number {
  font-size:   24px;
  margin-top:  2px;
  font-weight: 700;
  line-height: 24px;
}

.rat-report__overview-avg-label {
  color:       $color-gray-base;
  font-size:   10px;
  font-weight: 700;
}


// Top Picks section

.rat-report__top-picks {
  overflow:    hidden;
  height:      100%;
  width:       50%;
  display:     inline-block;
  padding:     8px;
  border-left: $border--default;

  .basic-list__item {
    text-overflow: ellipsis;
    white-space:   nowrap;
    overflow:      hidden;
  }

  @media only screen and (max-width: 40rem) {
    width: 100%;
    height: auto;
    border-top: $border--default;
    border-left: none;
    display: block;
  }
}


// Drawer
.rat-report__drawer-container {
  border-top:       $border--default;
  background-color: white;
  width:            100%;
  padding:          8px;
}