///*------------------------------------*\
//    #MAIN-CONTENT
//\*------------------------------------*/

.main-content {
	padding:   $top-bar-height $spacing-unit 0;
	margin:    0 auto;
	width:     100%;
	max-width: $max-width;
}

.main-content__header {
	position:      relative;
	margin-top:    2rem;
	margin-bottom: 2rem;

	>h1 {
		font-size: 1.875rem;
		margin:    0; 
	}

	>p {
		margin-top: 0;
	}

	>.btn-group {
		margin-top: 6px;
	}

}

.main-content__section-header {

	>h1 {
		font-size: 1.875rem;
		margin:    0; 
	}
}

.main-content__sub-header {
	margin-bottom: 2rem;
	
	>h2 {
		margin: 0;
	}

	>p {
		margin-top: 0;
	}
}