///*------------------------------------*\
//    #FOOTNOTE
//\*------------------------------------*/

.footnote {
	padding-top: 1rem;
	border-top:  $border--thin;
  font-size:   .875rem;
  margin-bottom: 2rem;

}