///*------------------------------------*\
//    #FILE-UPLOAD
//\*------------------------------------*/

.file-upload {
  width:    0.1px;
  height:   0.1px;
  opacity:  0;
  overflow: hidden;
  position: absolute;
  z-index:  -1;
}

.file-upload + label {
  @extend .btn;

  background-color: $color-blue-base;
  color:            white;
  margin-bottom:    0;
  margin-left:      0 !important;

  &:hover, &:focus {
    background-color: darken($color-blue-base, 10%);
    color:            white;
  }
  
  &:active {
    background-color: darken($color-blue-base, 15%);
    color:            white;
  }

}

.file-upload:focus + label,
.file-upload:active + label {
  outline:        1px dotted white;
  outline-offset: -4px;

}