///*------------------------------------*\
//    #ANALYTICS-PANEL
//\*------------------------------------*/

.analytics-panel {
  border:                     $border--default;
  border-left-width:          6px;
  padding:                    1rem;
  background-color:           white;
  max-width:                  $max-width--content;
  display:                    flex;
  border-top-right-radius:    $border-radius;
  border-bottom-right-radius: $border-radius;
}

.analytics-panel__item {
  width: 33%;

  >label {
    color:     $color-gray-dark;
    font-size: .75rem;

    .accessibility--color-contrast & {
      color: $color-gray-base--accessible;
    }
  }
}

.analytics-panel__data {
  font-size:   30px;
  font-weight: $font-weight--bold;
}