///*------------------------------------*\
//    #POSITIONING
//\*------------------------------------*

.is-right {
	float: right;
}

.is-left {
	float: left;
}

.is-readonly {
	opacity: .45;
}

.is-hidden {
  display: none;
}

.vertical-align--baseline {
  vertical-align: baseline !important;
}