///*------------------------------------*\
//    #SPACING
//\*------------------------------------*/

/**
 * General padding. 
 */

.spacing__pad--2 {
  padding: 2rem;
}




/**
 * Padding top. 
 */

.spacing__pad-top--half { 
  padding-top: .5rem; 
}

.spacing__pad-top--1 { 
  padding-top: 1rem; 
}

.spacing__pad-top--2 { 
  padding-top: 2rem !important; 
}

.spacing__pad-top--4 { 
  padding-top: 4rem; 

  @media only screen and (max-width: 40rem) {
    padding-top: 2rem;  
  }
}




/**
 * Padding bottom.
 */

.spacing__pad-bottom--2 {
  padding-bottom: 2rem; 

}

.spacing__pad-bottom--4 {
  padding-bottom: 4rem; 

  @media only screen and (max-width: 40rem) {
    padding-bottom: 2rem;  
  }
}




/**
 * Padding left. 
 */

.spacing__pad-left--1 {
  padding-left: 1rem;
}

.spacing__pad-left--2 {
  padding-left: 2rem;
}

.spacing__pad-left--3 {
  padding-left: 3rem;
}




/**
 * Padding right. 
 */

.spacing__pad-right--1 {
  padding-right: 1rem;
}




/**
 * Margin top. 
 */

.spacing__margin-top--0 {
  margin-top: 0;
}

.spacing__margin-top--6px {
  margin-top: 6px;
}

.spacing__margin-top--half {
  margin-top: .5rem;
}

.spacing__margin-top--1 {
  margin-top: 1rem;
}

.spacing__margin-top--2 {
  margin-top: 2rem;
}




/**
 * Margin bottom. 
 */

.spacing__margin-bottom--0 {
  margin-bottom: 0 !important;
}

.spacing__margin-bottom--half {
  margin-bottom: .5rem !important;
}

.spacing__margin-bottom--1 {
  margin-bottom: 1rem !important;
}

.spacing__margin-bottom--2 {
  margin-bottom: 2rem;
}

.spacing__margin-bottom--3 {
  margin-bottom: 3rem;
}

.spacing__margin-bottom--4 {
  margin-bottom: 4rem !important;
}


.mobile-spacing__margin-bottom--1 {
   @media only screen and (max-width: 40rem) {
    margin-bottom: 1rem !important;  
  }
}



/**
 * Margin right. 
 */

.spacing__margin-right--half {
  margin-right: .5rem;
}

.spacing__margin-right--1 {
  margin-right: 1rem;
}

.spacing__margin-right--2 {
  margin-right: 2rem;
}

.spacing__margin-right--3 {
  margin-right: 3rem;
}





/**
 * Margin left. 
 */

 .spacing__margin-left--half {
  margin-left: .5rem;
}

.spacing__margin-left--1 {
  margin-left: 1rem;
}

.spacing__margin-left--24 {
  margin-left: 24px;
}

.spacing__margin-left--2 {
  margin-left: 2rem;
}

.spacing__margin-left--3 {
  margin-left: 3rem;
}

.spacing__margin-left--4 {
  margin-left: 4rem;
}

.spacing__margin-left--24 {
  margin-left: 24px;
}