///*------------------------------------*\
//    #TEXT
//\*------------------------------------*/




/**
 * Font size. 
 */

.text__font-size--10 {
  font-size: 10px;
}

.text__font-size--12 {
  font-size: .75rem;
}

.text__font-size--14 {
  font-size: .875rem;
}

.text__font-size--18 {
  font-size: 1.15rem;
}

.text__font-size--24 {
  font-size: 24px;
}




/**
 * Font weight. 
 */

.text--regular {
	font-weight: $font-weight--regular;
}

.text--bold {
  font-weight: $font-weight--bold;
}



/**
 * Display. 
 */

.text--inline-block {
	display: inline-block !important;
}




/**
 * Alignment. 
 */

.text__align--center {
  text-align: center;
}

.text__align--right {
  text-align: right;
}



/**
 * Line height. 
 */

.text__lh--1 {
  line-height: 1rem;
}

.text__lh--2 {
  line-height: 2rem;
}

.text__lh--24 {
  line-height: 24px;
}



/**
 * Color. 
 */

.text__color--black {
  color: $color-black-base;
}

.text__color--gray {
  color: $color-gray-base;
}

.text__color--blue {
  color: $color-blue-base;
}

.text__color--green {
  color: $color-green-base;
}

.text__color--red {
  color: $color-red-base;
}

.text__color--white {
  color: white;
}



/**
 * Font style.
 */

 .text__font-style--italic {
  font-style: italic;
 }

 /**
  * Transforms
  */

.text__transform--capitalize {
  text-transform: capitalize;
}