///*------------------------------------*\
//    #RADIO-BUTTONS
//\*------------------------------------*/

.checkbox__item {
  margin-bottom: 1rem;
}

.checkbox__label {
  max-width:    $max-width--content;
  padding-left: 36px;
  text-indent:  -36px;
  cursor:       pointer;
}

.checkbox__label-summary {
  font-size:     .75rem;
  margin-bottom: .75rem;
  max-width:     42em;
  font-weight:   $font-weight--regular;
  text-indent:   0;
}

.checkbox__icon {
  display:           inline-block;
  width:             22px;
  height:            22px;
  vertical-align:    middle;
  margin-right:      12px;
  cursor:            pointer;
  background-image:  url('images/icons/icons_checkbox-radio-sprite.png');
  background-repeat: no-repeat;
  overflow:          hidden;
  background-size:   22px 220px;
  background-position: 0 -110px;

  -moz-appearance:    none;
  -webkit-appearance: none;

  &:hover {
    background-position: 0 -132px;
  }

  &:focus, &:active {
    background-position: 0 -154px;
  }

  &.checkbox__icon--is-checked {
    background-position: 0 -176px;

    &:hover {
      background-position: 0 -198px;
    }

    &:focus, &:active {
      background-position: 0 -176px;
    }

  }


  @media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
    background-image: url('images/icons/icons_checkbox-radio-sprite@2x.png');
  }


}