///*------------------------------------*\
//    #TABLE
//\*------------------------------------*/

.basic-table {
  position:       relative;
  border:         $border--default;
  border-radius:  $border-radius;
  width:          100%;
  border-spacing: 0;

  thead {
    background-color: $color-gray-light;
  }

  th {
    position:      relative;
    line-height:   48px;
    font-size:     .75rem;
    text-align:    left;
    padding:       0 1rem;
    height:        2rem;
    border-bottom: $border--default;
    transition:    $transition-animation--background-color;

    &.th__sortable {
      &:hover, &:focus {
        cursor: pointer;
        background-color: $color-gray-med;
      }

      &:active {
        outline:        1px dotted $color-gray-dark;
        outline-offset: -4px;
      }
    }

    &.th-sort__asc {
      &::after {
        content:          "";
        position:         absolute;
        top:              16px;
        background-image: url('images/icons/otbl-icons_arrow--blue.svg');
        width:            16px;
        height:           16px;
        margin-left:      6px;
      }
    }

    &.th-sort__desc {
      &::after {
        content:          "";
        position:         absolute;
        top:              16px;
        background-image: url('images/icons/otbl-icons_arrow--blue.svg');
        transform: rotate(-180deg);
        width:            16px;
        height:           16px;
        margin-left:      6px;
      }
    }
  }

  tbody {
    border-top: $border--default;

    tr {
      background-color: white;
      &:nth-child(2n) {
        background-color: $color-gray-lists;
      }
    }
  }

  td {
    line-height: 48px;
    text-align:  left;
    padding:     0 1rem;
    height:      2rem;
    font-size: .875rem;


  }

  &.basic-table--borderless {
    border: none;

    thead {
      background-color: transparent;
    }

    th {
      border-bottom: none;
      color: $color-gray-base;
    }
  }
}
