///*------------------------------------*\
//    #BUTTONS
//\*------------------------------------*/

button, 
.btn {
	display:          inline-block;
	font-family:      $font-family;
	font-weight:      $font-weight--bold;
	font-size:        .75rem;
	text-align:       center;
	vertical-align:   middle;
	text-transform:   capitalize;
	background-color: $color-gray-base;
	color:            white;
	border-radius:    $border-radius;
	border:           none;
	cursor:           pointer;
	white-space:      nowrap;
	overflow:         hidden;
	padding:          0 1.15rem;
	text-decoration:  none;
	height:           2rem;
	line-height:      2rem;
	transition:       background-color .29s ease-in-out 0s;

	&:hover, &:focus {
    background-color: darken($color-gray-base, 10%);
    color:            white;
  }
  
  &:active {
    background-color: darken($color-gray-base, 15%);
  }

  &:focus {
    outline:        1px dotted white;
    outline-offset: -4px;
  }

}

.btn--primary {
	background-color: $color-blue-base;

	&:hover, &:focus {
    background-color: darken($color-blue-base, 10%);
  }
  
  &:active {
    background-color: darken($color-blue-base, 15%);
  }
}

.btn--square {
  padding: 0 6px;
  width:   2rem;
  height:  2rem;
}

.btn--disabled {
  opacity:        .5;
  pointer-events: none;
}

///*------------------------------------*\
//    #ACTION-LINKS
//\*------------------------------------*/

.action-link--small {
  font-size:   .75rem;
  font-weight: $font-weight--bold;
}


///*------------------------------------*\
//    #BUTTON-GROUPS
//\*------------------------------------*/

.btn-group {

	.btn, .dropdown {
		margin-left: 1rem;

		&:first-child {
			margin-left: 0;
		}
	}

  >.btn__component {
    display: inline-block;
    margin-left: 1rem;
  }
}

.btn-group--conjoined {
  .btn {
    border-radius: 0;
    margin-right: 2px;

    &:first-child {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius:    $border-radius; 
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius:    $border-radius; 
      margin-right:               0;
    }
  }
}