///*------------------------------------*\
//    #ICONS
//\*------------------------------------*/

.icon {
 display:        inline-block;
 vertical-align: middle;
}

.icon--actionable {
  cursor: pointer;
  &:focus {
    outline:        1px dotted $color-blue-base;
    outline-offset: 4px;
  }
}

.icon--16 {
  width:  16px;
  height: 16px;
}

.icon--24 {
  width:  24px;
  height: 24px;
}

.icon--36 {
  width:  36px;
  height: 36px;
}

.icon--42 {
  width:  42px;
  height: 42px;
}

.icon__cross--black {
  background-image: url('images/icons/otbl-icons_cross--black.svg');
}

// Clock
.icon__clock--black {
  background-image: url('images/icons/otbl-icons_clock--black.svg');
}

// Clone
.icon__clone--white {
  background-image: url('images/icons/otbl-icons__clone_white.svg');
}

// Cross
.icon__cross--white {
  background-image: url('images/icons/otbl-icons_cross_white.svg');
}

.icon__checkmark--green {
  background-image:  url('images/icons/otbl-icons_checkmark.svg');
}

.icon__chevron--white {
  background-image: url('images/icons/otbl-icons_chevron-down--white.svg');
}

// Edit
.icon__edit--white {
  background-image: url('images/icons/otbl-icons__edit_white.svg');
}

// Info
.icon__info--black {
  background-image: url('images/icons/otbl-icons_info--black.svg');
}

.icon__arrow--blue {
  background-image: url('images/icons/otbl-icons_arrow--blue.svg');

  &.icon__arrow--right {
    transform: rotate(-90deg);
  }
}

// Arrow
.icon__arrow--white {
  background-image: url('images/icons/otbl-icons_arrow-up--white.svg');

  &.icon__arrow--right {
    transform: rotate(90deg);
  }

  &.icon__arrow--left {
    transform: rotate(-90deg);
  }

  &.icon__arrow--down {
    transform: rotate(180deg);
  }
}

.icon__arrow--black {
  background-image: url('images/icons/otbl-icons__arrow-up_black.svg');

  &.icon__arrow--right {
    transform: rotate(90deg);
  }

  &.icon__arrow--left {
    transform: rotate(-90deg);
  }

  &.icon__arrow--down {
    transform: rotate(180deg);
  }

  &.icon--actionable {
    &:hover, &:focus {
      background-image: url('images/icons/otbl-icons__arrow-up_blue.svg');
    }
  }
}

// Arrow - Ends
.icon__arrow-end--white {
  background-image: url('images/icons/otbl-icons_arrow-top--white.svg');

  &.icon__arrow--right {
    transform: rotate(90deg);
  }

  &.icon__arrow--left {
    transform: rotate(-90deg);
  }

  &.icon__arrow--down {
    transform: rotate(180deg);
  }
}

.icon__arrow-top--black {
  background-image: url('images/icons/otbl-icons__arrow-top_black.svg');

  &.icon--actionable {
    &:hover, &:focus {
      background-image: url('images/icons/otbl-icons__arrow-top_blue.svg');
    }
  }
}

.icon__arrow-bottom--black {
  background-image: url('images/icons/otbl-icons__arrow-top_black.svg');
  transform: rotate(180deg);

  &.icon--actionable {
    &:hover, &:focus {
      background-image: url('images/icons/otbl-icons__arrow-top_blue.svg');
    }
  }
}

.icon__trash--black {
  background-image: url('images/icons/otbl-icons__trash-outline_black.svg');

  &.icon--actionable {
    &:hover, &:focus {
      background-image: url('images/icons/otbl-icons__trash-outline_blue.svg');
    }
  }
}
