///*------------------------------------*\
//    #BRANDING
//\*------------------------------------*/

.otbl-logo {
  background: url('images/branding/otbl-logo_default.svg') no-repeat scroll 50% 0 transparent;
}

.otbl-logo--80 {
  background-size: 80px;
  height:          80px;
}

.otbl-logo--120 {
  background-size: 120px;
  height:          120px;
}