///*------------------------------------*\
//    #BUTTONS
//\*------------------------------------*/

button, 
.btn {
	display:          inline-block;
	font-family:      $font-family;
	font-weight:      $font-weight--bold;
	font-size:        .75rem;
	text-align:       center;
	vertical-align:   middle;
	text-transform:   capitalize;
	background-color: $color-gray-light;
	color:            $color-black-base;
	border-radius:    $border-radius;
	border:           none;
	cursor:           pointer;
	white-space:      nowrap;
	overflow:         hidden;
	padding:          0 1.15rem;
	text-decoration:  none;
	height:           2rem;
	line-height:      2rem;
	transition:       background-color .29s ease-in-out 0s;

	&:hover, &:focus {
    background-color: $color-gray-med;
    color:            $color-black-base;
  }
  
  &:active {
    background-color: $color-gray-base;
    color:            $color-black-base;
  }

  &:focus {
    outline:        1px dotted $color-gray-dark;
    outline-offset: -4px;
  }

  // Accessibility color
  .accessibility--color-contrast & {
    color: $color-black-base;
    
    &:hover, &:focus {
      background-color: $color-gray-med;
      color:            $color-black-base;
    }
    
    &:active {
      background-color: $color-gray-base;
      color:            $color-black-base;
    }
  }
}

.btn--primary {
	background-color: $color-blue-base;
  color: white;

	&:hover, &:focus {
    background-color: darken($color-blue-base, 10%);
    color: white;
  }

  &:focus {
    outline:        1px dotted white;
    outline-offset: -4px;
  }
  
  &:active {
    background-color: darken($color-blue-base, 15%);
  }

  .accessibility--color-contrast & {
    background-color: $color-blue-base--accessible;
    color: white;

      &:hover, &:focus {
        background-color: darken($color-blue-base--accessible, 10%);
        color: white;
      }

      &:focus {
        outline:        1px dotted white;
        outline-offset: -4px;
      }
      
      &:active {
        background-color: darken($color-blue-base--accessible, 15%);
      }


  }
}

.btn--square {
  padding: 0 6px;
  width:   2rem;
  height:  2rem;
}

.btn--disabled {
  opacity:        .5;
  pointer-events: none;
}

.btn--mobile-full {
  @media only screen and (max-width: 40rem) {
    width:       100% !important;
    line-height: 2.5rem;
    height:      2.5rem;
  }
}

///*------------------------------------*\
//    #ACTION-LINKS
//\*------------------------------------*/

.action-link--small {
  font-size:   .75rem;
  font-weight: $font-weight--bold;
}

.action-link--gray {
  color:      $color-gray-dark;
  transition: $transition-animation--color;
  
  &:hover, &:focus {
    color: $color-blue-base;
  }

  // Accessibility colors
  .accessibility--color-contrast & {
    color: $color-gray-base--accessible;

    &:hover, &:focus {
      color: $color-blue-base--accessible;
    }
  }
}


///*------------------------------------*\
//    #BUTTON-GROUPS
//\*------------------------------------*/

.btn-group {
  @extend .group;

  &.btn-group--mobile-full {
    @media only screen and (max-width: 40rem) {
        float: initial !important;
      }
  }
  
	.btn, .dropdown, .action-link--small, .icon--actionable, .btn__component {
		margin-left: 1rem;

		&:first-child {
			margin-left: 0;
		}

    &.btn--mobile-full {
      @media only screen and (max-width: 40rem) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
	}

  >.btn__component {
    display: inline-block;
  }
}

.btn-group--conjoined {
  .btn {
    border-radius: 0;
    margin-right: 2px;

    &:first-child {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius:    $border-radius; 
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius:    $border-radius; 
      margin-right:               0;
    }
  }
}

// Button divider
.btn--divider {
  display:          inline-block;
  height:           2rem;
  width:            2px;
  background-color: $color-gray-med;
  vertical-align:   middle;
  margin-left:      1rem;
}