///*------------------------------------*\
//    #DIALOGUE
//\*------------------------------------*/

.dialogue {
  border:           2px solid $color-gray-med;
  padding:          1rem;
  border-radius:    $border-radius;
  width:            100%;
  margin-bottom:    1rem;
  background-color: white;

  >h1 {
    font-size: 1.125rem;
    margin:    0 0 .5rem;
  }

  p {
    font-size:  .875rem;
    margin-top: 0;
  }

  a.link--dashed {
    font-size:     .875rem;
    border-bottom: 1px dotted $color-black-base;
    color:         $color-black-base;

    &:hover, &:focus {
      color: $color-blue-dark;
    }
  }
}

.dialogue--no-border {
  border: none;
}

.dialogue--green {
  border-color: $color-green-base;
}

.dialogue--yellow {
  border-color: $color-yellow-base;
}

.dialogue--red {
  background-color: $color-red-light;
  border: none;

}

.dialogue--blue {
  border-color: $color-blue-base;
}

.dialogue--shadow {
  box-shadow: $box-shadow--dialogue;
}