///*------------------------------------*\
//    #GRID
//\*------------------------------------*/

.grid__container {
  @extend .group;

  display: block;
}

.grid__container--content-width {
  max-width: $max-width--content;
}

.grid__container--flex {
	display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-wrap: wrap;

  &.flex__justify--between {
    justify-content: space-between;
  }
}

.grid__container--centered {
  float:        none;
  margin-left:  auto;
  margin-right: auto;
}

.grid__col--primary {
  padding-right: 1rem;

  @media only screen and (max-width: 40rem) {
    padding-right: 0;
  }
}

.grid__col--1of4 {
  display: inline-block;
	width: 25%;
}

.grid__col--2of4 {
  display: inline-block;
	width: 50%;
}

.grid__col--3of4 {
  display: inline-block;
	width: 75%;
}

.grid__col--4of4 {
	width: 100%;
}

.grid__col--1of3 {
  display: inline-block;
  width: 33%;
}

.grid__col--2of3 {
  display: inline-block;
  width: 66%;
}

.grid__col--3of3 {
  width: 100%;
}

.grid__col--49 {
  display: inline-block;
  width:   49%;
}

.grid__mobile--hidden {
  @media only screen and (max-width: 40rem) {
    display: none !important;
  }
}

.grid__mobile--full-width {
  @media only screen and (max-width: 40rem) {
   width: 100%;
  }
}

.grid__mobile--overlay {
  @media only screen and (max-width: 40rem) {
    position:         absolute;
    background-color: rgba(255, 255, 255, .75);
    top:              0;
    right:            0;
    height:           100vh;
    width:            100%;
    padding-top:      $top-bar-height;
  }
}

.grid__mobile-col--1of2 {
  @media only screen and (max-width: 40rem) {
    width: 50% !important;
  }
}