///*------------------------------------*\
//    #ICONS
//\*------------------------------------*/

.icon {

}

.icon--16 {
  width: 16px;
  height: 16px;
}

.icon__cross--white {
  background-image: url('images/icons/otbl-icons_cross_white.svg');
}