///*------------------------------------*\
//    #DIALOGUE
//\*------------------------------------*/

.dialogue {
  padding:                    1rem;
  border:                     $border--default;
  border-left-width:          6px;
  border-top-right-radius:    $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color:           white;
  max-width:                  $max-width--content;
  margin-bottom:              1rem;

  >h1 {
    font-size: 1.125rem;
    margin:    0 0 .5rem;
  }

  >p {
    font-size:  .875rem;
    margin-top: 0;
  }
}

.dialogue--green {
  border-color: $color-green-base;
}

.dialogue--yellow {
  border-color: $color-yellow-base;
}

.dialogue--red {
  border-color: $color-red-base;
}

.dialogue--blue {
  border-color: $color-blue-base;
}

.dialogue--shadow {
  box-shadow: $box-shadow--dialogue;
}