///*------------------------------------*\
//    #ICONS
//\*------------------------------------*/

.icon {
 display: inline-block;
 vertical-align: middle;
}

.icon--16 {
  width: 16px;
  height: 16px;
}

.icon--24 {
  width: 24px;
  height: 24px;
}

.icon__cross--black {
  background-image: url('images/icons/otbl-icons_cross--black.svg');
}

.icon__cross--white {
  background-image: url('images/icons/otbl-icons_cross_white.svg');
}

.icon__checkmark--green {
  background-image:  url('images/icons/otbl-icons_checkmark.svg');
}

.icon__chevron--white {
  background-image: url('images/icons/otbl-icons_chevron-down--white.svg');
}

.icon__arrow--blue {
  background-image: url('images/icons/otbl-icons_arrow--blue.svg');

  &.icon__arrow--right {
    transform: rotate(-90deg);
  }
}

.icon__arrow--white {
  background-image: url('images/icons/otbl-icons_arrow-up--white.svg');

  &.icon__arrow--right {
    transform: rotate(90deg);
  }

  &.icon__arrow--left {
    transform: rotate(-90deg);
  }

  &.icon__arrow--down {
    transform: rotate(180deg);
  }
}

.icon__arrow-end--white {
  background-image: url('images/icons/otbl-icons_arrow-top--white.svg');

  &.icon__arrow--right {
    transform: rotate(90deg);
  }

  &.icon__arrow--left {
    transform: rotate(-90deg);
  }

  &.icon__arrow--down {
    transform: rotate(180deg);
  }
}
