///*------------------------------------*\
//    #TAG
//\*------------------------------------*/
.tag {
  background-color: $color-gray-base;
  color:            white;
  font-size:        .75rem;
  font-weight:      $font-weight--bold;
  text-align:       center;
  display:          inline;
  padding:          2px 8px;
  border-radius:    $border-radius;
}

.tag--pill {
  border-radius: 10px;
}

.tag__exercise-status--locked {
  color:            $color-black-base;
  background-color: #D1D4DA;
}

.tag--gray {
  background-color: $color-gray-base;
}

.tag--blue {
  background-color: $color-blue-base;
}

.tag--green {
  background-color: $color-green-base;
}

.tag--red {
  background-color: $color-red-base;
}
