///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Blue
$color-blue-base: #12a6c7;
$color-blue-dark: darken($color-blue-base, 10%);

// Green
$color-green-base: #5BBC61;

$color-green-dark: #3b9040;
$color-green-med: #91d295;
$color-green-light: #b6e1b8;

// Red
$color-red-base: #ee6055;

// Rose
$color-rose-dark: #A55469;
$color-rose-base: #c96480;

// Yellow
$color-yellow-base:	#fcb725;

// Black
$color-black-base:	#464646;



// Gray
$color-gray-base:  #a9aeb8;
$color-gray-dark: darken($color-gray-base, 10%);
$color-gray-med:   #EDEEF0;
$color-gray-light: #fbfbff;