# Be sure to restart your server when you modify this file.

# Diasble the ParamsWrapper.
ActiveSupport.on_load(:action_controller) do
  wrap_parameters :format => [] if respond_to?(:wrap_parameters)
end

# To enable root element in JSON for ActiveRecord objects.
# ActiveSupport.on_load(:active_record) do
#   self.include_root_in_json = true
# end
