== content_for :content do
  h3 Hi #{@user.first_name}, your report is ready!

  p Your report (#{@report.title}) has failed to generate with an error message of: #{@message}
  p Please contact support and reference error code #{@report.id}-#{@error_code}.