.totem-admin-timer-users {
  margin-left: 0;
  list-style:  inside decimal;
  font-size:   85%;

  .totem-admin-timer-user-title {
    text-decoration: underline;
    cursor:          pointer;
  }

  .totem-admin-timer-user {
  }

}
